body {
    background-color: aqua;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}

ul {
    list-style-type: none;
}

input[type=text] {
    padding:10px;
    margin:10px 0;
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}